{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Code of conduct</h2>

    <p>
       <a href="https://www.afpy.org/docs/charte"> The code of conduct</a> set forth by
       the Francophone Python Association (AFPy)
       applies to the events organised by this association.
    </p>
    <p>
      The goal of the Association Francophone Python (AFPy) is to
      promote the Python programming language to the widest possible
      audience.
    </p>
    <p>
      We share our knowledge and are open to outside contributions
      because diversity, mutual respect, solidarity, and democracy
      broaden our horizons and enhance the potential of AFPy and each
      of its members. Consequently, we encourage everyone in the
      Python community—or anyone wishing to join it—to participate in
      the various events we (co-)organize. In this spirit, AFPy hopes
      that anyone interested will be welcomed in a warm and enriching
      manner.
    </p>
    <p>
      AFPy therefore expects every member of the association to show
      respect and courtesy toward other members of the association and
      toward people they encounter at any event organized (whether
      formally or informally) by the association.
    </p>
    <p>
      This text is inspired in particular by:
    </p>
    <ul>
      <li>the codes of conduct established by the Ada Initiative, the DSF, and Djangocon Europe;</li>
      <li>and by French anti-discrimination law.</li>
    </ul>

    <h3>The “Short” Version</h3>
    <p>
      AFPy seeks to avoid any form of discrimination—whether based on
      gender, sexual orientation, disability, physical appearance,
      origin, or religion—and in any form whatsoever (speech, images,
      text, or otherwise). Of course, this is not an exhaustive list.
    </p>
    <p>
      However, AFPy recognizes the legitimacy of minorities who wish
      to take actions to support their own members, with the aim of
      promoting a more balanced representation within the community as
      a whole.
    </p>
    <p>
      Although AFPy’s goal is to promote Python in the French-speaking
      world, the association is committed to welcoming everyone,
      regardless of their programming language or native language.
    </p>
    <p>
      AFPy expects its members to use language and a style appropriate
      for a diverse audience. Sexual or racist references are not
      tolerated under any circumstances, regardless of the medium.
    </p>
    <p>
      Be polite. Do not insult anyone. Discrimination and harassment
      are prohibited in writing, visuals, speech, and actions,
      regardless of their nature (sexual, racist, religious, social,
      etc.).
    </p>
    <p>
      Failure to comply with these rules of conduct may result in
      exclusion from the event, at the sole discretion of one or more
      organizers, or by the association following deliberation by the
      steering committee, as well as from any services offered by AFPy
      (Planète AFPy, blog, IRC channels).
    </p>

    <h3>The “Long” Version</h3>
    <h4>Scope</h4>
    <p>
      These best practices apply to any event (co-)organized by AFPy,
      either directly or indirectly, including:
    </p>
    <ul>
      <li>conferences (PyConFR, events at La Cantine, meetups),</li>
      <li>IRC, XMPP, or other instant messaging channels,</li>
      <li>Planète Python,</li>
      <li>the blog,</li>
      <li>the mailing list,</li>
      <li>any event where you represent AFPy, including informal gatherings (cocktail parties, etc.).</li>
    </ul>

    <h4>Definition of Discrimination</h4>
    <p>
      Under French law, discrimination includes “a situation in which,
      on the basis of a person’s actual or presumed membership or
      non-membership in an ethnic group or race, religion, beliefs,
      age, disability, sexual orientation, gender identity, or sex, a
      person is treated less favorably than another person is, has
      been, or will be treated in a comparable situation.”
    </p>
    <p>
      The following are therefore prohibited by law:
    </p>
    <ul>
      <li>“any conduct of a sexual nature [experienced] by a person that has the purpose or effect of violating that person’s dignity or of creating an intimidating, hostile, degrading, humiliating, or offensive environment”;</li>
      <li>“instructing anyone to engage in [such] conduct.”</li>
    </ul>

    <h4>Code of Conduct</h4>
    <p>
      To ensure compliance with the law and maintain the welcoming
      atmosphere that AFPy strives to foster, we ask that you:
    </p>
    <ul>
      <li>be courteous, professional, and respectful;</li>
      <li>use inclusive language;</li>
      <li>welcome different points of view and listen to experiences that differ from your own;</li>
      <li>accept constructive criticism;</li>
      <li>to be welcoming to newcomers;</li>
      <li>to respect the boundaries set by others.</li>
    </ul>
    <p>
      The following are prohibited, though this list is not exhaustive:
    </p>
    <ul>
      <li>any sexist, racist, or discriminatory expression, insinuation, or attitude;</li>
      <li>the display of sexual or offensive images (particularly violent ones);</li>
      <li>deliberate intimidation, harassment, and inappropriate and/or non-consensual physical contact;</li>
      <li>condescension, particularly toward beginners or those from other professional backgrounds;</li>
      <li>posting numerous messages in a short period of time (flooding) in virtual spaces;</li>
    </ul>
    <p>
      No one is required to interact with anyone else. If someone asks
      you to leave them alone, accept and respect their request
      without argument, even if you feel it is unjustified.
    </p>

    <h4>Incident Handling</h4>
    <p>
      In the event of harassment or discrimination committed by a
      participant, the event organizers or members of the steering
      committee may immediately take whatever measures they deem
      appropriate, up to and including temporary or permanent
      exclusion from an event or online space.
    </p>

    <h4>Reporting</h4>
    <p>
      If you are being harassed or discriminated against, or if you
      witness harassment or discrimination against other participants,
      or if you fear that an incident may occur, contact an organizer
      (in the case of an event) or a member of the AFPy Steering
      Committee immediately at <a href="mailto:diversite@afpy.org">diversite@afpy.org</a>.
    </p>
    <p>
      Throughout the event, don't hesitate to reach out to the designated
      individuals chosen by the association to assist you with any issues
      you may have encountered.
    </p>
  </article>
{% endblock content %}
