{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Frequently Asked Questions</h2>

    <section>
      <h3>Is the venue accessible to people with reduced mobility?</h3>

      <p>
        Yes. There are several elevators to access the floors, the corridors are wide
        and the first row of conference rooms is reserved in priority
        for people with reduced mobility.
      </p>
    </section>

    <section>
      <h3>What language are the conferences, workshops and sprints in?</h3>

      <p>
        The event is mainly in French, with ~25% of topics in English.
      </p>
      <p>
        You can propose a topic in the language that suits you best.
      </p>
      <p>
        For sprints, proposals are often in French, but most people also speak English!
      </p>
      <p>
        For the conferences, one track is in English and three others are in French.
        Similarly for the workshops, one track is in English and the others in French.
      </p>
    </section>

    <section>
      <h3>Is the event filmed?</h3>

      <p>
        Only conferences are filmed. Workshops and sprints are not filmed.
      </p>
    </section>

    <section>
      <h3>Is the event broadcast online?</h3>

      <p>
        The event may be broadcasted but it's not confirmed yet.
      </p>
    </section>

    <section>
      <h3>Is it possible to make a presentation remotely?</h3>

      <p>
        No, the event takes place face-to-face only.
        It is not possible to give a remote conference, workshop or sprint.
      </p>
    </section>

    <section>
      <h3>What connectivity is available to present?</h3>

      <p>
        All rooms are equipped with screens or video projectors with HDMI only.
        If you don't have an HDMI input, don't forget to bring an adapter.
      </p>
    </section>

    <section>
      <h3>What are the CFP opening dates?</h3>

      <p>
        The CFP will be open from the end of May to mid-July.
      </p>
    </section>

    <section>
      <h3>When will the schedule be available?</h3>

      <p>
        The schedule will be available in early September.
      </p>
    </section>

    <section>
      <h3>How can I obtain proof of attendance?</h3>

      <p>
        You can send your request after the event by email to the secretary
        (<a href=“mailto:secretaire@afpy.org”>secretaire@afpy.org</a>).
      </p>
    </section>

    <section>
      <h3>How is the topic selection process carried out?</h3>

      <p>
        After the CFP closes, the members of the AFPy Steering Committee
        evaluate each proposal. Following this evaluation, proposals are selected
        based on their score, while striving to ensure a diversity of speakers,
        themes, and levels of difficulty.
      </p>
    </section>
  </article>
{% endblock %}
