{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Foire aux questions</h2>

    <section>
      <h3>Le lieu est-il accessible PMR ?</h3>

      <p>
        Oui. Il y a plusieurs ascenceurs pour accéder aux étages, les couloirs sont larges
        et la première rangée des salles de conférences est réservée en priorité
        pour les personnes à mobilité réduite.
      </p>
    </section>

    <section>
      <h3>Dans quelle langue sont les conférences, ateliers et sprints ?</h3>

      <p>
        L’évènement est principalement en français, avec ~25% des sujets en anglais.
      </p>
      <p>
        Vous pouvez proposer un sujet dans la langue qui vous convient le mieux.
      </p>
      <p>
        Pour les sprints, les propositions sont souvent en français, mais la plupart des personnes parlent aussi anglais !
      </p>
      <p>
        Pour les conférences, une track est anglais et trois autres sont en français.
        De la même manière pour les ateliers, une track est en anglais et les autres en français.
      </p>
    </section>

    <section>
      <h3>L’évènement est-il filmé ?</h3>

      <p>
        Seules les conférences sont filmées. Les ateliers et sprints ne sont pas filmés.
      </p>
    </section>

    <section>
      <h3>L’évènement est-il diffusé en ligne ?</h3>

      <p>
          Il est possible que l'évènement soit retransmis en ligne, cela est encore à confirmer.
      </p>
    </section>

    <section>
      <h3>Est-il possible de faire une présentation à distance ?</h3>

      <p>
        Non, l’évènement se déroule uniquement en présentiel.
        Il n’est pas possible de donner une conférence, un atelier ou un sprint à distance.
      </p>
    </section>

    <section>
      <h3>Quelle est la connectique disponible pour présenter ?</h3>

      <p>
        Toutes les salles sont équipées d’écrans ou de vidéo-projecteurs avec uniquement de l’HDMI.
        Si vous n’avez pas d’entrée HDMI, n’oubliez pas d’amener un adaptateur.
      </p>
    </section>

    <section>
      <h3>Quelles sont les dates d’ouverture du CFP ?</h3>

      <p>
        Le CFP sera ouvert de fin mai à mi-juillet.
      </p>
    </section>

    <section>
      <h3>Quand est-ce que le planning sera disponible ?</h3>

      <p>
        Le planning sera disponible début septembre.
      </p>
    </section>

    <section>
      <h3>Comment avoir un justificatif de présence ?</h3>

      <p>
        Vous pouvez adresser votre demande, après l’évènement, par mail à la secrétaire
        (<a href="mailto:secretaire@afpy.org">secretaire@afpy.org</a>).
      </p>
    </section>

    <section>
      <h3>Comment se passe la sélection des sujets ?</h3>

      <p>
        Après la clôture du CFP, les membres du Comité Directeur de l’AFPy
        évaluent chaque proposition. À la suite de cette évaluation, les sujets
        sont sélectionnés en fonction de leur note, tout en essayant d’assurer
        une diversité d’orateurices, de thématiques et niveaux de difficulté.
      </p>
    </section>
  </article>
{% endblock %}
